// .ReactJS:hover {
//     animation-direction: alternate-reverse;
//     transform: scale(1.2) !important;
//     transition: all 0.3s ease-in-out !important;
// }

// .ReactJS {
//     height: 3rem;
//     width: 3rem;
//     object-fit: contain;
//     margin-bottom: 1rem;
//     transition: all 0.3s ease-in-out;
// }

// @media (prefers-reduced-motion: no-preference) {
//     .ReactJS {
//         animation: reactspinner infinite 8s linear;
//     }
// }

// @keyframes reactspinner {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }

.Heroku {
    width: 2.7rem !important;
}

.Tradingview {
    width: 2.5rem !important;
}

.skills {
    margin: 25px;
}
