/* normal */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

/* bold */
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

/* logo */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import "./styles/reset.css";

@import url("http://fonts.cdnfonts.com/css/anurati");

/* @import "../ReactParallaxTilt.scss"; */
/* ==================================== */

:root {
    --theme-label-primary: rgba(255, 255, 255, 0.8);
    --theme-label-tertiary: rgba(255, 255, 255, 0.95);
}

* {
    font-family: "Quicksand", sans-serif !important;
    letter-spacing: 0.5px;
}
html {
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none !important;
    background: linear-gradient(to right, #56ccf2, #2f80ed) !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-tabs .nav-link {
    border: none !important;
}

.nav-item {
    font-size: 1rem;
}

.MuiButton-root {
    color: white !important;
}
.MuiInput-underline::before {
    border-bottom: 3px solid aliceblue !important;
}
.MuiInput-underline::after {
    border-bottom: 3px solid #2f80ed !important;
}
.MuiButton-outlined {
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

.green-text {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Varela", sans-serif !important;
    letter-spacing: 2px;
}

.pt-6 {
    padding-top: 6rem !important;
}
.pb-6 {
    padding-bottom: 6rem !important;
}

.chonburi-font {
    font-family: "Varela", sans-serif !important;
    letter-spacing: 2px;
}

.anurati-font {
    font-family: "anurati", sans-serif !important;
    letter-spacing: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.App {
    overflow: hidden;
}
.navbar-toggler-icon {
    filter: sepia(100%) brightness(118%) hue-rotate(177deg) saturate(334%)
        contrast(71%) invert(100%);
    -webkit-filter: sepia(100%) brightness(118%) hue-rotate(177deg)
        saturate(334%) contrast(71%) invert(100%);
    -moz-filter: sepia(100%) brightness(118%) hue-rotate(177deg) saturate(334%)
        contrast(71%) invert(100%);
}
@media (min-width: 1500px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1704px !important;
    }
}

.homec-text {
    background: #e96443; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #e96443,
        #904e95
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e96443,
        #904e95
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutc-text {
    background: #2196f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f44336,
        #2196f3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f44336,
        #2196f3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillc-text {
    background: #16bffd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #cb3066,
        #16bffd
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #cb3066,
        #16bffd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectc-text {
    background-color: #4158d0;
    background-image: linear-gradient(
        45deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.addpicture {
    width: 50%;
    height: auto;
}

.green-text {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.magin {
    margin-top: 40px;
}

.circle {
    border-radius: 50%;
}

.spacingbeforehome {
    margin-top: 15px;
}

.certc-text {
    background: #4776e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #8e54e9,
        #4776e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #8e54e9,
        #4776e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github-text {
    background: #cc2b5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #753a88,
        #cc2b5e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #753a88,
        #cc2b5e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picturecircle {
    border-radius: 50% 50% 50% 50%;
}

.inlinesettings {
    display: inline-block;
}

.text-none {
    text-decoration: none !important;
    color: #fff;
}

.text-none:hover {
    text-decoration: none !important;
    color: #fff;
}

.text-none:link {
    text-decoration: none !important;
    color: #fff;
}

.text-none:visited {
    text-decoration: none !important;
    color: #fff;
}

.text-none:active {
    text-decoration: none !important;
    color: #fff;
}

.connection {
    display: inline-flex;
}

.typelet {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #0b0d0c;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: var(--theme-label-tertiary);
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-label-primary);
}
